*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    color: white;
}


main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.container{
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.card{
  color: whitesmoke;
  text-shadow: 0px 0px 0px rgb(226, 23, 124);
  width: 350px;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 20px;
  box-shadow: 0px 0px 0px rgb(226, 23, 124);
  border: 0px solid rgba(0, 0, 0, 0);
   background:
  linear-gradient(black) padding-box,
  conic-gradient(from var(--angle), black, rgb(226, 23, 124),black) border-box;
  animation: movingAnime 4s linear infinite;
  animation-play-state: paused;
  transition: all 0.3s linear;
  
}

.card:hover{
  animation-play-state: running;
  border-width: 5px;
  box-shadow: 0px 0px 40px rgb(226, 23, 124);
  color: hotpink;
  text-shadow: 0px 0px 20px rgb(226, 23, 124);
}


.card>img{
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.card>h1{
  margin-top: 10px;
}



.card2{
  text-shadow: 0px 0px 0px #5807e4;
  background:
  linear-gradient(black) padding-box,
  conic-gradient(from var(--angle), black, #5807e4,black) border-box;
  box-shadow: 0px 0px 0px #5807e4;

}

.card2:hover{
  text-shadow: 0px 0px 20px #5807e4;
  color: #5807e4;
  border-width: 5px;
    box-shadow: 0px 0px 40px #5807e4;
}




.card3{
  text-shadow: 0px 0px 0px #08CB00;
  background:
  linear-gradient(black) padding-box,
  conic-gradient(from var(--angle), black, #08CB00,black) border-box;
  box-shadow: 0px 0px 0px #08CB00;

}

.card3:hover{
  text-shadow: 0px 0px 20px #08CB00;
  color: #08CB00;
  border-width: 5px;
    box-shadow: 0px 0px 40px #08CB00;
}


@keyframes movingAnime {
  from{
   --angle:0deg
  } 

  to{
    --angle:360deg
  }

}