*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    color: white;
}


main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card{
  color: whitesmoke;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 20px;
 
}

.card:hover{

   box-shadow: 0px 0px 40px rgb(226, 23, 124);
  border: 5px solid rgba(0, 0, 0, 0);
  background:
  linear-gradient(black) padding-box,
  conic-gradient(from var(--angle), black, rgb(226, 23, 124),black) border-box;
  animation: movingAnime 3s linear infinite;


}

.card>img{
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.card>h1{
  margin-top: 10px;
}



@keyframes movingAnime {
  from{
   --angle:0deg
  } 

  to{
    --angle:360deg
  }

}